<main class="container my-2 py-2">
    <div class="col-md-8 m-1">
      <div class="container">
        <div class="user-profile">
          <h1><%= @user.first_name %> <%= @user.last_name %></h1>
          <p>Email: <%= @user.email %></p>
          <p>Address: <%= @user.address %></p>

          <%= link_to "Edit Profile", edit_user_registration_path, class: "button-50" %>
        </div>
        <%= link_to "Add Item", new_item_path, class: "button-50" %>
        <%= link_to "Back to Home Page", root_path, class: "button-50" %>
      </div>
    </div>
</main>
