<main class="container my-2 py-2">
  <div class="row">
    <div class="col-md-5 m-1">
      <div class="container">
        <div class="user-profile">
          <h1><%= @user.first_name %> <%= @user.last_name %></h1>
          <p>Email: <%= @user.email %></p>
          <p>Address: <%= @user.address %></p>

          <%= link_to "Edit Profile", edit_user_registration_path, class: "button-50" %>
        </div>
        <%= link_to "Add Item", new_item_path, class: "button-50" %>
        <%= link_to "Back to Home Page", root_path, class: "button-50" %>
      </div>
    </div>

    <div class="col-md-5 m-1">
      <div class="container">
        <h1>Bids</h1>
        <% if @item && @item.bids.any? %>
          <ul class="list-group">
            <% @item.bids.each do |bid| %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= bid.user.first_name %>
                <span class="badge">
                  <%= link_to "Accept", accept_bid_item_path(@item, bid), method: :patch, class: "button-50" %>
                  <%= link_to "Decline", decline_bid_item_path(@item, bid), method: :patch, class: "button-50" %>
                </span>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>No bids available for this item.</p>
        <% end %>
      </div>
    </div>
  </div>
</main>
