<main class="container my-2 py-2">
<h1><%= action_name.capitalize %> Item</h1>
<%= form_with(model: @item, local: true) do |form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <br>
  <div>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </div>
  <br>
  <div>
    <%= form.label :category %><br>
    <%= form.select :category, ["T-SHIRT", "PANTS", "ACCESSORY", "SHOES", "SHORTS", "JERSEY", "HOODIE", "JACKET"] %>
  </div>
  <br>
  <div>
    <%= form.label :rating %><br>
    <%= form.select :rating, [1, 2, 3, 4, 5] %>
  </div>
  <br>
  <div>
    <%= form.label :sale_type %><br>
    <%= form.select :sale_type, Item.sale_types.keys.map { |w| [w.humanize, w] } %>
  </div>
  <br>
  <div>
    <%= form.label :price %><br>
    <%= form.number_field :price %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
  <br>
<% end %>

<%= link_to 'Back', items_path, class: "button-50"%>
</main>
