<header>
  <section>
    <div id="intro" class="bg-image" style="
        background-image: url('https://i.pinimg.com/564x/e6/e3/40/e6e340066c627f0e7cbee2dae68d0945.jpg');
        height: 20vh;
      ">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="container d-flex justify-content-center align-items-center h-100">
          <div class="row align-items-center">
            <div class="col-12">
              <h1 class="mb-0 text-white display-1"></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>

 <main>
   <div class="container my-2 py-2"></div>
</main>


<div class="container">
  <h1 class="search-title">All Available items</h1>
  <hr>
  <div class="container mt5 text-center">
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: items_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Search item..."
            %>
          <%= submit_tag "Search", name: "", class: "button-50" %>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
<div class=card-show>
  <div class="row">

   <div class="row">
  <% @items.each do |item| %>
    <div class="col-md-4">
      <div class="card" onclick="document.getElementById('link-<%= item.id %>').click()">
        <div class="card-description">
          <% if item.photo.attached? %>
          <%= cl_image_tag item.photo.key, width: 250, height: 200, crop: :fill %>
        <% end %>
          <h5 class="card-title"><%= item.name %></h5>
          <p> R<%= item.price %></p>
          <p><small class="text-muted"><%= item.category %></small></p>
          <% if item.sale_type == "for_sale" %>
          <%= link_to 'purchase', item_path(item), id: "link-#{item.id}", class: 'button-50' %>
          <% else %>
          <%= link_to 'bid', item_path(item), id: "link-#{item.id}", class: 'button-50' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
