<div class="container mt-5">
  <h1>All Available items</h1>
  <hr>
  <div class="container mt5 text-center">
  <%= link_to 'Add a item', new_item_path, class: 'btn btn-primary' %>
  </div>
  <hr>

  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><%= item.name %></h5>
            <p class="card-text"><%= item.description %></p>
            <p class="card-text"><small class="text-muted"><%= item.category %></small></p>
            <p class="card-text"><strong><%= item.rating %></strong></p>

            <%= link_to 'View Details', item_path(item), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
