<main class="container my-2 py-2"></main>
<div class="container">
  <h1><%= action_name.capitalize %> Item</h1>
  <%= simple_form_for (@item) do |form| %>
    <div>
      <%= form.input :name %>
    </div>
     <br>
    <div>
      <%= form.input :description %>
    </div>
     <br>
    <div>
      <p>category</p>
       <%= form.select :category, ["T-SHIRT", "PANTS", "ACCESSORY", "SHOES", "SHORTS", "JERSEY", "HOODIE", "JACKET"] %>
    </div>
     <br>
    <div>
      <p>quality rating</p>
       <%= form.select :rating, [1, 2, 3, 4, 5] %>
    </div>
    <br>
    <div>
    <br>
      <p>Sale Type</p>
      <%= form.select :sale_type, Item.sale_types.keys.map { |w| [w.humanize, w] } %>
    </div>
     <br>
    <div>
      <%= form.input :price %>
    </div>
     <br>
    <div>
      <%= form.input :photo, as: :file %>
    </div>
     <br>
    <div>
      <%= form.submit class: "button-50" %>
    </div>
  <% end %>

  <%= link_to 'Back', items_path, class: "button-50" %>
</div>
