<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="card_show">
        <div class="card_content d-flex">
          <div class="card_text">
            <h1 class="card_title"><%= @item.name %></h1>
            <p><%= @item.description %></p>
            <p><strong>Category:</strong> <%= @item.category %></p>
            <p><strong>Rating:</strong> <%= @item.rating %></p>
            <p><strong>Sale Type:</strong> <%= @item.for_sale? ? 'For Sale' : 'For Auction' %></p>
            <p><strong>Price:</strong> R<%= @item.price %></p>
            <div class="card_footer button-hover">
              <% if @item.for_sale? %>
                <% if @item.user == current_user %>
                  <%= link_to 'Edit Item', edit_item_path(@item), class: 'button-50' %>
                <% else %>
                  <%= link_to 'Add to cart', add_to_cart_item_path(@item), method: :post, class: 'button-50' %>
                <% end %>
              <% else %>
                <% if @item.for_auction? %>
                  <% if @item.user == current_user %>
                    <%= link_to 'Edit Item', edit_item_path(@item), class: 'button-50' %>
                  <% else %>
                    <p>No bid form available.</p>
                  <% end %>
                <% end %>
              <% end %>
              <%= link_to 'Back to items', items_path, class: 'button-50' %>
            </div>
          </div>
          <div class="card__content img">
            <% if @item.photo.attached? %>
              <%= cl_image_tag @item.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <p>No image available</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card_show">
        <div class="bids_container">
          <% if @item.for_auction? %>
            <div class="justify-content-center">
              <h2>Highest Bids</h2>
              <ul>
                <% @item.top_bids.each do |bid| %>
                  <li>
                    <%= bid.user.email %>: R<%= bid.amount %>
                    <br>
                    <% if @item.user == current_user && bid.pending? %>
                      <div class="row">
                        <%= link_to 'Approve', items_path(@item, bid), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'button-50' %>
                        <%= link_to 'Decline', item_path(@item, bid), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'button-50' %>
                      </div>
                    <% else %>
                      <%= bid.status.capitalize %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
