<div class="container mt-5">
  <h1><%= @item.name %></h1>

  <p><%= @item.description %></p>
  <p><strong>Category:</strong> <%= @item.category %></p>
  <p><strong>Rating:</strong> <%= @item.rating %></p>

  <%= link_to 'Back to items', items_path, class: 'btn btn-secondary' %>
</div>
